
.card {
    margin: 0.25rem;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    min-width: 100px;
    max-width: 100px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h4 {
    margin: 0;
}

.description {
    margin-top: 10px;
    color: lightslategray;
}

.maxMin {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.maxMin p {
    font-size: x-small;
    /* text-align: left; */
    margin: 2.5px;
}