.alertWrapper {
    position: fixed;
    top: 25px;
    width: 50vw;
    z-index: 1000;
}

.alertBox {
    border: 3px solid blue;
    border-radius: 10px;
    text-align: center;
    background-color: lightgray;
    margin-bottom: 0.5rem;
}

.alertBox.error {
    border-color: red;
}