
.main {
    min-height: calc(100vh - 5.5rem);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}