
.main {
    flex: 1;
    display: flex;
    min-width: 500px;
    max-width: 500px;
    flex-direction: column;
    border: 1px solid lightgray;
    max-height: 505px;
    min-height: 505px;
    overflow-y: scroll;
    margin-left: 0.5rem;
}

.title {
    align-self: center;
}

.inputComponent {
    display:flex;
    position: relative;
    flex-direction: column;
    height: 3.5rem;
}

.inputQuery {
    display: flex;
    flex: 1;
    margin: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1.2rem;
}

.queryResultBox {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    min-height: 5rem;
    padding: 1.5rem;
    margin: 0.5rem;
    margin-top: 0px;
    position: absolute;
    z-index: 50;
    top: 3.5rem;
    width: calc(100% - 1rem);
}

.queryResultBox li {
    margin-bottom: 0.2rem;
    padding: 0.2rem;
    cursor: pointer;
    /* border: 1px solid blue; */
    display: flex;
    font-size: 1.2rem;
}

.queryResultBox li:hover {
    background-color: lightgray;
}