
.container {
    flex: 1;
    max-width: 755px;
    min-width: 755px;
}

.currendDayBox {
    display: flex;
    flex-direction: row;
}

.loading {
    align-self: center;
    text-align: center;
}

.weather {
    margin-right: 1rem;
}

.maxMin {
    margin-left: 0.5rem;
    font-size: small;
}

.location {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1rem;
}

.location > h2 {
    margin: 0;
}

.location > p {
    margin: 0;
}

.nextDaysBox {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* overflow-x: scroll; */
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: xx-large;
    overflow: hidden;
}

.iconBox {
    flex-direction: column;
    align-items: center;
    font-size: medium;
}

.description {
    font-size: small;
    color: lightslategray;
}