
.card {
    margin: 0.5rem;
    padding: 0.8rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    position: relative;
    display: flex;
    align-items: center;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin-left: 0.5rem;
    font-size: 1.3rem;
}

.card h3 {
    margin-left: 0.5rem;
    font-size: 1rem;
    flex: 1;
    text-align: center;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.removeBtn {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: x-large;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 100;
}

.removeBtn:hover {
    color: red;
    right: 8px;
    top: 1px;
    font-size: xx-large;
}